:root{
    --player-one: rgb(74, 118, 184);
    --player-two: rgb(131, 49, 163);
}

*{
    font-family: monospace;
}

#menu-bar{
    width:calc(calc(3 * 250px) + calc(2*5px));
    text-align: center;
    vertical-align: center;
    margin:auto;
}

#ttt-grid-container {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    width:calc(calc(3 * 250px) + calc(2*5px));
    height:calc(calc(3 * 250px) + calc(2*5px));
    row-gap: 5px;
    column-gap: 5px;
    text-align: center;
    vertical-align: center;
    background-color: black;
    margin:auto;
}

.grid-box{
    background-color: darkgray;
}

.player-one{
    background-color: var(--player-one);
    box-shadow: var(--player-one) 0px 0px 2px;
}

.player-two{
    background-color: var(--player-two);
    box-shadow: var(--player-two) 0px 0px 2px;
}

.tile{
    align-content: center;
}